/*Variables*/
$color-one: #ffffff;
$color-two: #fed136;
$color-three: #222222;
$color-four: #777777;
$font-one: 'Shadows Into Light', cursive;
$font-two: 'Montserrat', sans-serif;
$font-three: 'Roboto Slab', serif;
$font-four: 'Piazzolla', serif;
/*Global*/
body {
    margin: 0;
    font-family: $font-two;
    text-align: center;
}
a {
    text-decoration: none;
}
.title {
    font-family: $font-two;
    font-weight: 700;
    color: $color-three;
    font-size: 40px;
    margin-top: 60px;
}
.sub-title {
    font-family: $font-one;
    color: $color-four;
    font-size: 16px;
    letter-spacing: 4px;
    margin-bottom: 60px;
}
.title-small {
    font-size: 18px;
    margin-top: 30px;
}
.sub-title-small {
    font-size: 14px;
}
.row {
    margin: 0;
}
.card {
        width: 291px;
        margin: 40px 0;
        .row {
            .card-image {
                padding: 0;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .card-description {
                background-color: $color-one;
                .title, .title-small {
                    margin: 0;
                    padding: 20px 0 5px 0;
            }
                .sub-title, .sub-title-small {
                    margin: 0;
                    padding: 5px 0 20px 0;
            }
        }
    }
}
/*Header*/
header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 700px;    
    .first-header {
        font-family: $font-one;
        color: $color-one;
        font-size: 40px;
        letter-spacing: 3px;
        margin-top: 80px;
    }
    .second-header {
        font-family: $font-two;
        color: $color-one;
        font-size: 75px;
        font-weight: 700;
    }
    .btn {
        position: relative;
        background-color: $color-two;
        margin: 0 auto;
        width: 240px;
        height: 65px;
        border-radius: 2%;
        a {
            position: absolute;
            margin: 0;
            padding: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
            font-size: 18px;
            font-family: $font-two;
            color: $color-one;
            font-weight: 700;
        }
    }
    .row {
        justify-content: space-around;
        .logo {
            h2 {
                font-family: $font-four;
                font-size: 26px;
                font-weight: 400;
                color: $color-two;
                font-style: italic;
                margin-top: 18px;
                padding: 0;
            }
        }
        .menu {
            margin-top: 30px;
            ul {
                margin: 0;
                li {
                    display: inline;
                    margin-right: 40px;
                    a{
                        font-family: $font-two;
                        color: $color-one
                    }
                }
            }
        }
    }
}
/* Services */
.services {
    i {
        font-size: 35px;
        width: 68px;
        height: 68px;
        border-radius: 50%;
        line-height: 63px;
        color: $color-two;
        border: 3px solid $color-two
    }
}
/* Portfolio */
.portfolio {
    background-color: #f7f7f7;
}
/* Footer */ 
footer {
    .row {
        justify-content: center;
        align-items: center;
        .social-media {
            text-align: left;;
            ul {
                margin: 50px 0 50px 10px;
                li {
                    display: inline-block;
                    padding-right: 11px;
                    i {
                        background-color: $color-three;
                        font-size: 20px;
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        line-height: 45px;
                        color: $color-one;
                        text-align: center;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    a {
                        font-size: 0;
                    }
                }
            }
        }
        .copyright {
            font-size: 14px;
            font-weight: 400;
        }
    }
}