body {
    margin: 0;
}
header {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;    
    .row {
        justify-content: space-around;
        .menu {
            ul {
                li {
                    display: inline;
                    margin-right: 40px;
                }
            }
        }
    }
}
