/*Variables*/
/*Global*/
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #222222;
  font-size: 40px;
  margin-top: 60px;
}

.sub-title {
  font-family: "Shadows Into Light", cursive;
  color: #777777;
  font-size: 16px;
  letter-spacing: 4px;
  margin-bottom: 60px;
}

.title-small {
  font-size: 18px;
  margin-top: 30px;
}

.sub-title-small {
  font-size: 14px;
}

.row {
  margin: 0;
}

.card {
  width: 291px;
  margin: 40px 0;
}

.card .row .card-image {
  padding: 0;
}

.card .row .card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .row .card-description {
  background-color: #ffffff;
}

.card .row .card-description .title, .card .row .card-description .title-small {
  margin: 0;
  padding: 20px 0 5px 0;
}

.card .row .card-description .sub-title, .card .row .card-description .sub-title-small {
  margin: 0;
  padding: 5px 0 20px 0;
}

/*Header*/
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 700px;
}

header .first-header {
  font-family: "Shadows Into Light", cursive;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 3px;
  margin-top: 80px;
}

header .second-header {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 75px;
  font-weight: 700;
}

header .btn {
  position: relative;
  background-color: #fed136;
  margin: 0 auto;
  width: 240px;
  height: 65px;
  border-radius: 2%;
}

header .btn a {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 700;
}

header .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .row .logo h2 {
  font-family: "Piazzolla", serif;
  font-size: 26px;
  font-weight: 400;
  color: #fed136;
  font-style: italic;
  margin-top: 18px;
  padding: 0;
}

header .row .menu {
  margin-top: 30px;
}

header .row .menu ul {
  margin: 0;
}

header .row .menu ul li {
  display: inline;
  margin-right: 40px;
}

header .row .menu ul li a {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

/* Services */
.services i {
  font-size: 35px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  line-height: 63px;
  color: #fed136;
  border: 3px solid #fed136;
}

/* Portfolio */
.portfolio {
  background-color: #f7f7f7;
}

/* Footer */
footer .row {
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

footer .row .social-media {
  text-align: left;
}

footer .row .social-media ul {
  margin: 50px 0 50px 10px;
}

footer .row .social-media ul li {
  display: inline-block;
  padding-right: 11px;
}

footer .row .social-media ul li i {
  background-color: #222222;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 45px;
  color: #ffffff;
  text-align: center;
}

footer .row .social-media ul li i:hover {
  transform: scale(1.2);
}

footer .row .social-media ul li a {
  font-size: 0;
}

footer .row .copyright {
  font-size: 14px;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */